body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: rgb(149, 185, 252);
  height: 30px;
  border: none;
  padding: 0 10px;
  border-radius: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: rgb(156, 145, 145);
}
